<!DOCTYPE HTML>
<html>
  <head>
	<meta name="viewport" content="width=480, user-scalable=no, initial-scale=0.8, minimum-scale=0.5, maximum-scale=0.5"/> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SpotOn Trivia</title>
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/du.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id="stage">
	<div id="home">
    	<div id="header"></div>
		<iframe src="https://foursquare.com/oauth2/authenticate?client_id=HJUKWCU1S4T3VZ2GPZSTRAMNFE4IKLOHW1YZLMMV354LVES2&response_type=token&display=touch&redirect_uri=http://spoton.heroku.com/callback/4sq/" style="width:100%;" seamless></iframe>
    </div>
  </body>
</html>
