<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width; user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SpotOn Trivia</title>
	<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/main.js"></script>
	<script type="text/javascript" charset="utf-8">
		//token goes here
		spoton.player_id = 1;
	</script>
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id="stage">
	<div id="home"><a class="foursquare" href="https://foursquare.com/oauth2/authenticate?client_id=HJUKWCU1S4T3VZ2GPZSTRAMNFE4IKLOHW1YZLMMV354LVES2&response_type=token&redirect_uri=http://www.spotontrivia.com/callback/4sq/&display=touch">Log in via Foursquare</a></div>
  </body>
</html>
